{% extends 'data_reader/base.html' %}

{% block title %}
  <title>Data Record</title>
{% endblock %}

{% block body %}
  <div class="page-header">
    <div class="starter-template">
      <h1>{{transductor.description.title}}</h1>
    </div>
  </div>
{% if data_list %}
  <div class="col-md-6" style="text-align: center">
  {% for data in data_list %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ data.collection_date }}</h3>
      </div>

      <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Phase A</th>
          <th>Phase B</th>
          <th>Phase C</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Voltage</td>
          <td>{{ data.voltage_a }}</td>
          <td>{{ data.voltage_b }}</td>
          <td>{{ data.voltage_c }}</td>
        </tr>
        <tr>
          <td>Current</td>
          <td>{{ data.current_a }}</td>
          <td>{{ data.current_b }}</td>
          <td>{{ data.current_c }}</td>
        </tr>
        <tr>
          <td>Active Power</td>
          <td>{{ data.active_power_a }}</td>
          <td>{{ data.active_power_b }}</td>
          <td>{{ data.active_power_c }}</td>
          <td>{{ data.calculate_total_active_power }}</td>
        </tr>
        <tr>
          <td>Reactive Power</td>
          <td>{{ data.reactive_power_a }}</td>
          <td>{{ data.reactive_power_b }}</td>
          <td>{{ data.reactive_power_c }}</td>
          <td>{{ data.calculate_total_reactive_power }}</td>
        </tr>
        <tr>
          <td>Apparent Power</td>
          <td>{{ data.apparent_power_a }}</td>
          <td>{{ data.apparent_power_b }}</td>
          <td>{{ data.apparent_power_c }}</td>
          <td>{{ data.calculate_total_apparent_power }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  {% endfor %}
    <div class="pagination">
      <span class="step-links">
        {% if data_list.has_previous %}
          <a href="?page={{ data_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ data_list.number }} of {{ data_list.paginator.num_pages }}
        </span>

        {% if data_list.has_next %}
          <a href="?page={{ data_list.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  </div>
{% else %}
  <div class="container">
    <div class="starter-template">
      <h1>No data avaiable</h1>
    </div>
  </div>
{% endif %}
{% endblock %}