{% extends 'data_reader/base.html' %}

{% block title %}
    <title>Transductors</title>
{% endblock %}

{% block body %}
<p><a href="{% url 'data_reader:new' %}" class="btn btn-primary">Create Transductor</a></p>
<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>IP Address</th>
        <th>Serie Number</th>
        <th>Options</th>
      </tr>
    </thead>

    {% if transductors_list %}
      {% for transductor in transductors_list %}
      <tbody>
        <tr>
          <td>{{transductor.id}}</td>
          <td><a href="{% url 'data_reader:detail' transductor.id %}">{{transductor.description}}</a></td>
          <td>{{transductor.ip_address}}</td>
          <td>{{transductor.serie_number}}</td>
          <td>
            <a href="{% url 'data_reader:new' %}"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    {% else %}
      <div class="container">
        <div class="starter-template">
          <h1>No Registered Transducer</h1>
          <p class="lead">To register a new transductor click here.</p>
        </div>
      </div>
    {% endif %}
</table>
</div>
{% endblock %}