{% extends 'users/dashboard.html' %}
{% load i18n %}

{% block title %}
<title>{% trans "New User" %}</title>
{% endblock %}

{% block  dashboard_content %}

<div class="jumbotron">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>{% trans "Register new user" %}</h1>
          <form class="configdiv" action="register" method="post">
            <p2>{{falha}}</p2>
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name= "first_name" placeholder="Fist Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name= "last_name" placeholder="Last name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name= "email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name ="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name ="confirmPassword" placeholder="confirm password" class="form-control">
            </div>
            <p1>{% trans "User type:" %}</p1>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> {% trans "Commun User" %}
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">{% trans " Admin" %}
              </label>
            </div>
            <p1>{% trans "Access level:" %}</p1>
            <div class="form-group">
              <div class="checkbox">
                <label class="checkbox-inline checkbox-success">
                  <input type="checkbox" id="permissions_checkbox1" name="can_generate" > {% trans "Generate Report" %}
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline checkbox-success">
                  <input type="checkbox" id="permissions_checkbox2" name="view_transductors">  {% trans "Manage Transdutors" %}
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline checkbox-success">
                  <input type="checkbox" id="permissions_checkbox3" name="edit_users" > {% trans "Edit Users" %}
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline checkbox-success">
                  <input type="checkbox" id="permissions_checkbox4" name="delete_users"> {% trans "Delete Users" %}
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox-inline checkbox-success">
                  <input type="checkbox" id="permissions_checkbox5" name="see_logging" {{see_logging}} > {% trans "See Logging" %}
                </label>
              </div>
              <button type="submit" class="btn btn-success btn-lg btn-block" >{% trans "Register" %}</button>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block login %}
<form class="navbar-form navbar-right" action="login" method="post">
  <p2 color="red" >{{falha}}</p2>
  {% csrf_token %}
  <div class="form-group">
    <input type="text" name= "Email" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" name ="Password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">{% trans "Sign in" %}</button>
</form>
{% endblock %}
