.page-header {
    color: #FCA205;
    font-family: 'Lobster', cursive;
    padding-top: 10px;
}

.data-element ul li{
    font-size: 12pt;
}

.transductor-list{
    padding-top: 60px;
}

body {
    margin-left: 15px;
}