td {
    text-align: center;
}

th {
    text-align: center;
}

.page-header {
    color: #4d4d4d;
    font-family: 'Lobster', cursive;
}

.pagination {
    display: inline-block;
}


.data-element ul li{
    font-size: 12pt;
}

.transductor-list{
    padding-top: 60px;
}

body {
    margin-left: 15px;
}