{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    <title>{% trans "Transductors" %}</title>
{% endblock %}

{% block body %}
<div class="col-md-6">
            {%if perms.transductor.can_view_transductors%}
  <table class="table table-striped">
    {% if transductors_list %}
      <p><a href="{% url 'transductor:new' %}" class="btn btn-primary">{% trans "Create Transductor" %}</a></p>
      <thead>
        <tr>
          <th>#</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "IP Address" %}</th>
          <th>{% trans "Serie Number" %}</th>
          <th>{% trans "Options" %}</th>
        </tr>
      </thead>

      {% for transductor in transductors_list %}
      <tbody>
        <tr>
          <td>{{transductor.id}}</td>
          <td><a href="{% url 'transductor:detail' transductor.id %}">{{transductor.description}}</a></td>
          <td>{{transductor.ip_address}}</td>
          <td>{{transductor.serie_number}}</td>
          <td>
            <a title="{% trans "Click here to edit" %} " href="{% url 'transductor:edit' transductor_id=transductor.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a title="{% trans "Click here to edit" %}Click here to delete" href="{% url 'transductor:delete' transductor_id=transductor.id %}" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-trash" ></span></a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    {% else %}
      <div class="container">
        <div class="starter-template">
          <h1>{% trans "No Registered Transducer" %}</h1>
          <p class="lead">{% trans "To create a new transductor click" %} <a href="{% url 'transductor:new' %}" >{% trans "here" %}</a></p>
      </div>
    {% endif %}
</table>
{%else%}
    <h1>{% trans "No permission to see the transductors" %}</h1>
{% endif %}
</div>
{% endblock %}
