{% extends "users/dashboard.html" %}
{% load i18n %}
{% block title %}
    <title>{% trans "Transductors Models" %}</title>
{% endblock %}

{% block dashboard_content %}
<div class="col-md-6">
  <table class="table table-striped">
    {% if transductors_models %}
      <thead>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Internet Protocol" %}</th>
        <th>{% trans "Serial Protocol" %}</th>
      </thead>
      {% for model in transductors_models %}
        <tbody>
          <tr>
            <td>{{model.name}}</td>
            <td>{{model.internet_protocol}}</td>
            <td>{{model.serial_protocol}}</td>
          </tr>
        </tbody>
      {% endfor %}
    {% else %}
      <div class="container">
        <div class="starter-template">
          <h1>{% trans "Nothing Registered" %}</h1>
        </div>
      </div>
    {% endif %}
  </table>
</div>
{% endblock %}
