{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
<title>{% trans "SME - Esqueci a senha" %}</title>
{% endblock %}
{% block body %}
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>

<script type="text/javascript" src="{% static 'users/js/forgot.js' %}"></script>
<div class="container">
    <div class="col-md-4 col-md-offset-4">

        <form class="form-signin">
            {% csrf_token %}
            <h2 class="form-signin-heading text-center">Recuperar a senha</h2>
            <div class="form-group">
                <label for="email" class="sr-only">{% trans "Email address" %}</label>
                <input type="user" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
            </div>
            <button id='forgot_btn' class="btn btn-lg btn-primary btn-block">{% trans "Log in" %}</button>
        </form>
    </div>
</div>
{% endblock %}
