{% extends 'users/dashboard.html' %}

{% block dashboard_content %}
<div class="margin">
  <h1 class="text-center">List of Registered Users :</h>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="margin">
        <table class ="table table-bordered">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Edit</th>
          </tr>
          {% for user in users %}
          <tr>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.username}}</td>
            <td><a  class="glyphicon glyphicon-trash" href="{% url 'users:delete_user' user.id %}"></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>
  </div>

  {% endblock %}
