{% extends 'users/dashboard.html' %}
{% load i18n %}

{% block dashboard_content %}


<div class="margin">
  <h1 class="text-center">{% trans "List of registered Users:" %}</h>
  </div>

  <br />
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="margin">

        <table class ="table table-bordered">
          <tr>
              <th>{% trans "First Name" %}</th>
              <th>{% trans "Last Name" %}</th>
              <th>{% trans "Email" %}</th>
              <th>{% trans "Edit" %}</th>
          </tr>
          {% for user in users %}
          <tr>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td><a  class="glyphicon glyphicon-pencil" href="{% url 'users:edit_user' user.id %}"></a></td>
          </tr>
          {% endfor %}

          </tab
        </div>
      </div>
    </div>


    {% endblock %}
