{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% load i18n %}

{% block title %}
    <title>{% trans "SME - Login" %}</title>
{% endblock %}
  {% block body %}
  <div class="container">
    <div class="col-md-4 col-md-offset-4">

      <form class="form-signin" method="POST" action="{% url "users:login"%}">
        {% csrf_token %}
        <h2 class="form-signin-heading text-center">{% trans "Log in" %}</h2>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">{% trans "Email address" %}</label>
          <input type="user" id="inputUsername" name="username" class="form-control" placeholder="Email" required autofocus>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">{% trans "Password" %}</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group">
            <a href="{% url "users:forgot" %}">Esqueci a senha</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Log in" %}</button>
      </form>
    </div>
  </div>
  {% endblock %}
