{% extends 'base.html' %}

{% block title %}
    <title>{% trans "New Transductor"%}</title>
{% endblock %}

{% block body %}
    <h1>{% trans "New Transductor"%}</h1>

    {% if errors %}
        <p style="color: #ff0000;">{{errors}}</p>
    {% endif %}

    <form method="post" class="post-form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="save btn btn-default">{% trans "Save"%}</button>
        <a href="{% url 'transductor:index' %}" class="save btn btn-default">{% trans "Cancel"%}</button>
    </form>
{% endblock %}
